@charset "utf-8";

#form {
  margin: 0 10%;
}
.personality {
  margin-bottom: 30px;
  background-color: aliceblue;
  display: flex;
}
.personality > div {
  display: inline;
}

.myPhoto {
  margin-right: 30px;
}

.myName {
  margin-bottom: 10px;
}
.myName > * {
  display: inline;
}

#profileTable th {
  padding-right: 1px solid;
  color: rgb(12, 11, 13);
}
#profileTable td {
  color: grey;
}

#totalResume > table {
  margin: 0;
  width: 100%;
  height: 100px;
  text-align: center;
}
#totalResume > table th {
  background-color: aliceblue;
}
#totalResume > table td {
  background-color: rgb(242, 242, 242);
}

#schoolTable {
  border-top: 1px solid black;
  border-collapse: collapse;
  margin: 0;
  width: 100%;
  height: 100px;
}
#schoolTable th {
  width: 240px;
  text-align: start;
  border-bottom: 1px solid gainsboro;
  font-weight: normal;
}
#schoolTable td {
  border-bottom: 1px solid gainsboro;
  font-weight: bold;
}
#schoolTable td .schoolMajor {
  font-weight: normal;
  font-size: 13px;
  color: gray;
}

#careerTable {
  border-top: 1px solid black;
  border-collapse: collapse;
  margin: 0;
  width: 100%;
  height: 100px;
}
#careerTable th {
  width: 240px;
  text-align: start;
  border-bottom: 1px solid gainsboro;
  font-weight: normal;
}
#careerTable td {
  border-bottom: 1px solid gainsboro;
  font-weight: bold;
}
